art==5.5
beautifulsoup4==4.11.1
certifi==2023.7.22
charset-normalizer==2.0.12
idna==3.7
lxml==4.9.1
prompt-toolkit==3.0.29
requests==2.32.2
soupsieve==2.3.2.post1
urllib3==1.26.19
wcwidth==0.2.5
yt-dlp==2024.4.9
tqdm>=4.66.2